.user-item-wrapper {
  margin: 1em 0;

  .user-item-title {
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    background: #f2fcff;
  }

  .user-item-child {
    margin: 8px 0;
    padding: 0 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    .from {
      padding-right: 8px;
      min-width: 54px;
      color: #666666;
    }
    .title {
      padding-right: 15px;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #666666;
      cursor: pointer;
    }
    .date {
      font-size: 12px;
      color: #999999;
    }
    &:hover {
      .from,
      .title { color: #4ecff5; }
    }
  }

  .user-item-form {
    margin: 10px 0;
    .user-item-form-item {
      position: relative;
      margin-bottom: 20px;
      .pop-users {
        position: absolute;
        top: 38px;
        left: 0;
        box-shadow: 0 0 1px #9e9e9e;
        padding: 0;
        width: 100%;
        background: #ffffff;
        z-index: 99;
        .pop-users-item {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin: 4px 0;
          padding: 0 10px;
          height: 24px;
          color: #999999;
          cursor: pointer;
          .options { padding-right: 6px; }
          .email { font-size: 12px; }
          &:hover { color: #4ecff5; }
        }
        .no-data { &:hover { color: #999999; cursor: unset; } }
      }
      .el-textarea {
        textarea { height: 250px !important; }
      }
      .chars-length {
        position: absolute;
        bottom: 4px;
        right: 10px;
        font-size: 12px;
        color: #aaaaaa;
      }
    }
  }

  .user-item-info {
    margin: 10px 0 20px 0;
    padding: 0 20px;
    .title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      height: 30px;
      font-weight: bold;
      .title-span { padding-right: 10px; }
    }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .key {
        color: red;
      }
      .value {
        margin-right: 8px;
        border-radius: 4px;
        padding: 0 10px;
        height: 28px;
        line-height: 28px;
        color: #666666;
        background: #eeeeee;
      }
      .tip {
        font-size: 10px;
        color: #ffa666;
      }
      .el-select { margin-right: 8px; }
      .tag { margin-right: 8px; }
      .new-tag { max-width: 78px; }
      .new-tag-tip {
        font-size: 10px;
        color: #ffa666;
      }
      .warn {
        margin-right: 8px;
        border-radius: 4px;
        padding: 2px 4px;
        font-size: 12px;
        color: #333333;
        background: #fff0cc;
      }
      .cancellation-btn {
        color: #ffffff;
        background: #ff4040;
      }
    }
    .content-groups {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .content-groups-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 4px;
        height: 32px;
        .key {
          padding-right: 8px;
          width: 60px;
          text-align-last: justify;
        }
        .value {
          margin-right: 10px;
          border-radius: 4px;
          padding: 0 10px;
          height: 28px;
          line-height: 28px;
          color: #666666;
          background: #eeeeee;
        }
        .pop-switch {
          position: relative;
          display: inline-block;
          border-radius: 4px;
          padding: 0 10px;
          height: 28px;
          line-height: 28px;
          color: #666666;
          background: #eeeeee;
          .pop {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            background: #ffffff;
          }
          &:hover {
            background: #ffa666;
            color: #ffffff;
            .pop {
              box-shadow: 0 0 2px #9e9e9e;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              border-radius: 4px;
              padding: 0 10px;
              color: #333333;
              background: #ffffff;
              z-index: 99;
              .btn {
                display: inline-block;
                margin: 0 4px;
                padding: 0 4px;
                width: 32px;
                font-size: 10px;
                text-align: center;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  .user-item-group {
    .title {
      position: relative;
      .poppanel {
        position: absolute;
        top: 0;
        right: 20px;
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100px;
        height: 32px;
        font-size: 12px;
        background: #ffffff;
        .btn {
          box-shadow: 0 0 2px #9e9e9e;
          border-radius: 4px;
          padding: 0 8px;
          height: 24px;
          line-height: 24px;
        }
      }
    }
    &:hover {
      .title {
        .poppanel {
          display: flex;
          .btn {
            color: #666666;
            cursor: pointer;
            &:hover {
              color: #ffa666;
            }
          }
        }
      }
    }
  }

  .no-data {
    margin: 0;
    padding: 0 10px;
    color: #666666;
  }

  .user-item-input-title,
  .user-item-input-group,
  .user-item-input-textarea,
  .user-item-input-btns {
    margin-bottom: 20px;
  }

  .user-item-input-textarea .el-textarea textarea { height: 250px !important; }

  .user-item-msg-receiver {
    color: red;
  }

  .user-item-msg-title {
    color: red;
  }

  .user-item-msg-content {
    color: red;
  }
}

.wrapper-pop {
  .el-dialog__body {
    .wrapper-pop-item { margin-bottom: 10px; }
    .wrapper-pop-btns {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .wrapper-pop-form {
      .el-form-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .el-form-item__label { width: 80px; }
        .el-form-item__content { flex: 1; }
        .code-btn {
          color: #ffffff;
          background: #3a8ee6;
        }
        .timertip {
          padding-left: 80px;
          height: 28px;
          line-height: 28px;
          color: #4ecff5;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .title { padding: 0; }
  .date {
    overflow: hidden;
    width: 64px;
    height: inherit;
  }
  .user-item-wrapper { margin: 0; }

  .change-contacts {
    .el-dialog {
      margin-top: 20px !important;
      width: 90vw;
    }
  }
  .create-group,
  .delete-group,
  .cancellation-user {
    .el-dialog {
      width: 90vw !important;
    }
  }

  .user-item-wrapper .user-item-group .title .poppanel { display: flex; }
}